{% extends 'base.html.twig' %}

{% block title %}Welcome to Travel Tips{% endblock %}

{% block body %}
        <!----PRESENTATION------>
        <div class="tt-welcomeTo">
            <video autoplay muted src="/assets/videos/film-homePage.mp4" loop poster="vignette.jpg" id="test-video">
            </video>
            <img src="/assets/images/welcome-logo1.png" id="tt-logoWelcome">
        </div>
        <div class="tt-text-test1">
            <div class="tt-conceptText">
                <h2>WHAT'S TRAVELER TIPS ? </h2>
                <p>Des spots saturés, pollués, bruyants, et tout ça car nous préparons tous nos voyages à l’aide des mêmes ressources (blog de voyages, guides touristiques, instagram...) et nous concentrons donc aux mêmes endroits.
                    Notre idée, une plateforme où les travelers du monde entier peuvent partager leurs tips & leurs spots secrets et ainsi sortir des sentiers touristiques.
                    Vos plus belles vagues, vos meilleurs bar à concert, meilleurs food market ou encore vos + beaux viewpoint, ici on partage en quelques mots des endroits encore épargné par le tourisme de masse et qui mérteraient d’être connu ... mais CHUT !</p>
            </div>
            <div class="tt-historyText">
                <h2>OUR HISTORY</h2>
                <p>Des spots saturés, pollués, bruyants, et tout ça car nous préparons tous nos voyages à l’aide des mêmes ressources (blog de voyages, guides touristiques, instagram...) et nous concentrons donc aux mêmes endroits.
                    Notre idée, une plateforme où les travelers du monde entier peuvent partager leurs tips & leurs spots secrets et ainsi sortir des sentiers touristiques.

                    Vos plus belles vagues, vos meilleurs bar à concert, meilleurs food market ou encore vos + beaux viewpoint, ici on partage en quelques mots des endroits encore épargné par le tourisme de masse et qui mérteraient d’être connu ... mais CHUT ! </p>
            </div>
        </div>
        <!----END OF PRESENTATION------>

        <!----POST TIPS------>
        <div class="tt-container-formTipsHomePage">
            <img class="tt-rect" src="/assets/images/Rectangle97.png">
            <section class="tt-register-login-homePage">
                <img class="tt-componentPostTips" src="/assets/images/components/Component-PostTips.png">
                {{ include('tips/_form.html.twig') }}
            </section>
            <img class="tt-rect" src="/assets/images/Rectangle99.png">
        </div>
        <!----END OF POST TIPS------>

    <!-- CATEGORIES -->
    <div style="display: flex; justify-content: center">
        <img class="tt-component-categories" src="/assets/images/Component-Categories.png">
    </div>
    <div class="tt-catHomePage">
        <a href="{{ path('app_category_show', {'id': 6}) }}" class="div1">
            <h2 class="tt-title-cardsCategories-rectangle">STREET ART</h2>
        </a>
        <a href="{{ path('app_category_show', {'id': 3}) }}" class="div2">
            <h2 class="tt-title-cardsCategories-rectangle">SUNSET</h2>
        </a>
        <a href="{{ path('app_category_show', {'id': 2}) }}" class="div3">
            <h2 class="tt-title-cardsCategories-carre">GLISSE</h2>
        </a>
        <a href="{{ path('app_category_show', {'id': 1}) }}" class="div4">
            <h2 class="tt-title-cardsCategories-carre">FOOD</h2>
        </a>
        <a href="{{ path('app_category_show', {'id': 4}) }}" class="div5">
            <h2 class="tt-title-cardsCategories-rectangle">REGGAE BAR</h2>
        </a>
        <a href="{{ path('app_category_show', {'id': 5}) }}" class="div6">
            <h2 class="tt-title-cardsCategories-rectangle">INCONTOURNABLES</h2>
        </a>
    </div>
        <!------SMALL TIPS CARD-------->
        <div class="tt-container-titleCategories">
            <img src="/assets/images/Component-tips-homePage.png" style="width:40vw; height:30vh; margin-top:5%">
        </div>
<section class="tt-tipsInCat">
    {% for tip in tips %}
        {% include 'modules/tipsCard.html.twig' %}
    {% endfor %}
</section>
{% endblock %}
