{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
        {% if category.id == 1 %}
            <div class="tt-containerContinent">
                <img src="/assets/images/Categories-HomePageCards/CARDS-Food.jpg" alt="Image Continent 1" class="continent-picture">
                <div class="tt-textContinent">
                    <h1 class="tt-continentTitle">{{ category.name }}</h1>
                    <p class="tt-describeContinent">
                        Imaginez-vous déambulant dans les ruelles animées d'un marché asiatique, où les arômes envoûtants du curry, du gingembre et de la coriandre vous captivent dès le premier pas. Les étals colorés regorgent de délices tels que les dim sum délicats, les nouilles sautées fumantes et les rouleaux de printemps croustillants. L'Asie est une véritable célébration des contrastes, alliant subtilement les saveurs sucrées, salées, épicées et acidulées dans un ballet harmonieux pour votre palais.
                        <br>
                        En continuant votre périple gastronomique, vous traversez les vastes plaines d'Europe, où les mets succulents se marient à l'élégance et à la finesse. Les senteurs du fromage français délicatement affiné vous attirent comme un aimant, tandis que les pâtes italiennes fraîchement préparées vous promettent une expérience inoubliable. L'Europe, berceau de la gastronomie raffinée, vous offre une symphonie de goûts authentiques, riches en histoire et en tradition.

                        Mais n'oublions pas l'Amérique, ce continent aux multiples facettes où les saveurs se déchaînent dans une explosion de créativité. Des hamburgers juteux aux tacos épicés, en passant par les grillades fumantes au barbecue, l'Amérique vous offre un festin copieux et généreux, reflétant la diversité et la convivialité de ses peuples.

                        En traversant les océans, vous atterrissez en Afrique, un continent aux mille trésors culinaires. Les épices envoûtantes bercent vos sens alors que vous dégustez un délicieux tajine marocain ou un foufou africain crémeux. Chaque bouchée est un voyage dans le temps, reliant le présent à des siècles de savoir-faire ancestral.</p>
                </div>
            </div>
        {% elseif category.id == 2 %}
            <div class="tt-containerContinent">
                <img src="/assets/images/Categories-HomePageCards/CARDS-Glisse.jpg" alt="Image Continent 2" class="continent-picture">
                <div class="tt-textContinent">
                    <h1 class="tt-continentTitle">{{ category.name }}</h1>
                    <p class="tt-describeContinent">Les sports de glisse sont une source d'excitation et de plaisir pour de nombreux passionnés à travers le monde. Que ce soit sur la neige, la glace ou l'eau, ces activités dynamiques offrent des sensations uniques.

                        Sur les pistes de ski enneigées, les skieurs dévalent les pentes à toute vitesse, défiant les lois de la gravité dans des descentes palpitantes. Les snowboarders, quant à eux, glissent avec style en effectuant des figures audacieuses dans les snowparks.
                        Dans les vagues, le surf permet aux riders de chevaucher les crêtes marines, défiant l'océan avec agilité et maîtrise. Les kitesurfeurs, quant à eux, utilisent la puissance du vent pour voler au-dessus des vagues et réaliser des sauts spectaculaires.
                        <br>
                        Que ce soit sur la neige, la glace ou l'eau, les sports de glisse sont une aventure à part entière, alliant adrénaline et communion avec la nature. Les adeptes de ces disciplines trouvent dans ces moments de glisse une échappatoire exaltante, une fusion entre l'homme et les éléments, faisant de chaque descente ou ride une expérience inoubliable.
                       </p>
                </div>
            </div>
        {% elseif category.id == 3 %}
            <div class="tt-containerContinent">
                <img src="/assets/images/sunset-bali.jpeg" alt="Image Continent 3" class="continent-picture">
                <div class="tt-textContinent">
                    <h1 class="tt-continentTitle">{{ category.name }}</h1>
                    <p class="tt-describeContinent">
                        Les couchers de soleil dans le monde sont de véritables tableaux vivants. Du désert aux côtes océaniques, des montagnes aux villes, chaque endroit offre un spectacle unique. Teintes ardentes dans les déserts, reflets dorés sur les côtes, calme serein dans les montagnes, lumières urbaines scintillantes en ville, couleurs pastel dans les contrées polaires. Partout, ces moments magiques invitent à la contemplation et à l'émerveillement devant la beauté de la nature. Chaque coucher de soleil est une toile éphémère, une poésie visuelle rappelant la splendeur du monde.<br>
                        Quel que soit le coin du monde où l'on se trouve, les couchers de soleil sont une invitation à la contemplation, à la connexion avec la nature et à l'émerveillement devant la beauté qui nous entoure. Ils sont le rappel poétique que chaque jour se termine dans une explosion de couleurs, et que demain sera une nouvelle toile vierge pour que le soleil y peigne son chef-d'œuvre éphémère.
                    </p>
                </div>
            </div>
        {% elseif category.id == 4 %}
            <div class="tt-containerContinent">
                <img src="/assets/images/MusicBar-ASIA-Th.jpg" alt="Image Continent 3" class="continent-picture">
                <div class="tt-textContinent">
                    <h1 class="tt-continentTitle">{{ category.name }}</h1>
                    <p class="tt-describeContinent">
                        Dans tous les coins du monde, les reggaes bars sont des havres de paix et de bonne humeur, où la musique reggae fusionne avec l'atmosphère chaleureuse pour créer une expérience inoubliable. Ces établissements sont bien plus qu'un simple lieu de rencontre, ils sont une véritable célébration de la culture et du style de vie reggae.
                        En franchissant les portes d'un reggae bar, vous êtes immédiatement transporté dans une ambiance détendue et décontractée. Les murs sont ornés de symboles rastafari, de drapeaux jamaïcains et d'affiches de légendes reggae, évoquant l'esprit roots de ce genre musical emblématique. L'odeur de l'encens flotte dans l'air, ajoutant une touche envoûtante à cette atmosphère unique.<br>
                        Les vibrations positives de la musique reggae vous enrobent, vous faisant vibrer au rythme du tempo caractéristique du genre. Des artistes émergents et des groupes locaux montent sur scène pour offrir des performances enivrantes, tandis que les classiques de Bob Marley, Peter Tosh, et d'autres icônes résonnent dans un savoureux mélange de sons.
                       </p>
                </div>
            </div>
        {% elseif category.id == 5 %}
            <div class="tt-containerContinent">
                <img src="/assets/images/Continents/Star-Sunset-NorthAmerica-USA.jpg" alt="Image Continent 3" class="continent-picture">
                <div class="tt-textContinent">
                    <h1 class="tt-continentTitle">{{ category.name }}</h1>
                    <p class="tt-describeContinent">
                        'Amérique du Nord, un continent aux multiples visages, offre une palette d'expériences riches et variées. Des gratte-ciels étincelants des grandes villes aux vastes étendues sauvages, cette terre de contrastes promet un voyage inoubliable.

                        Villes cosmopolites : L'Amérique du Nord abrite certaines des villes les plus dynamiques et éclectiques du monde. New York, la ville qui ne dort jamais, captive par son énergie frénétique et ses monuments emblématiques tels que la Statue de la Liberté et Times Square. San Francisco séduit par son charme pittoresque avec le Golden Gate Bridge et ses célèbres collines. Toronto, Montréal et Vancouver reflètent quant à elles la diversité culturelle et la modernité de ce continent.
                        Nature grandiose : De vastes étendues sauvages caractérisent également l'Amérique du Nord. Des parcs nationaux comme Yellowstone aux États-Unis et Banff au Canada offrent des panoramas époustouflants de montagnes, de canyons, de geysers et de lacs cristallins. Sans oublier les paysages côtiers spectaculaires de la côte californienne ou des fjords de l'Alaska, où la nature déploie toute sa splendeur.
                        <br>
                        L'Amérique du Nord est un continent aux multiples facettes, mêlant modernité et traditions, nature grandiose et villes cosmopolites. Des gratte-ciels impressionnants aux parcs nationaux préservés, chaque pas révèle une nouvelle dimension de cette terre fascinante. Un voyage en Amérique du Nord promet de combler les attentes des voyageurs curieux et avides de découvertes.</p>
                </div>
            </div>
        {% elseif category.id == 6 %}
            <div class="tt-containerContinent">
                <img src="/assets/images/StreetArt-Europe-Fr.jpeg" alt="Image Continent 3" class="continent-picture">
                <div class="tt-textContinent">
                    <h1 class="tt-continentTitle">{{ category.name }}</h1>
                    <p class="tt-describeContinent">
                        Le street art, ce langage artistique urbain, s'est épanoui dans le monde entier comme un mouvement créatif audacieux, reflétant l'essence même de la culture contemporaine. Des ruelles anonymes aux murs des grandes métropoles, le street art est devenu une toile vivante qui s'exprime librement, captivant l'attention des passants et laissant une empreinte indélébile dans l'esprit de ceux qui le découvrent.
                        Les artistes urbains, souvent anonymes, se lancent dans cette aventure audacieuse en utilisant les rues comme une galerie d'art ouverte à tous. Les murs deviennent leurs toiles, les graffitis leurs pinceaux et les bombes de peinture leurs outils d'expression. Chaque œuvre est unique, portant un message ou une émotion qui transcende les frontières culturelles et linguistiques.
                        <br>
                        Mais le street art ne se limite pas à l'esthétique. C'est aussi une forme d'expression sociale et politique. Les artistes utilisent leurs créations pour faire passer des messages engagés, évoquant des problèmes sociaux, environnementaux ou politiques. Le street art devient ainsi un outil puissant pour susciter la réflexion et encourager le débat public.

                        À travers le monde, le street art a transcendé les frontières géographiques et culturelles. Des œuvres emblématiques de Banksy à Bristol, aux fresques colorées de São Paulo, en passant par les graffitis audacieux de New York, chaque ville offre une expérience artistique unique qui reflète sa propre identité.
                       </p>
                </div>
            </div>
        {% else %}
            <h2>Aucune catégorie ne correspond à l'URL</h2>
        {% endif %}
    <!-- Affichage des tips correspondant à l'ID de la catégorie -->
    {% if tips is not empty %}
        <div class="tt-title-tipsContinent">
            <h2 class="tt-tipsContinent">Find all our TIPS in {{ category.name }}</h2>
        </div>
        {% for tip in tips %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ tip.picture }}" alt="Image du Tip">
                <div class="card-body">
                    <h5 class="card-title">{{ tip.title }}</h5>
                    <p class="card-text">{{ tip.text }}</p>
                    <a href="{{ path('app_tips_show', {'id': tip.id}) }}" class="btn btn-primary">Voir le Tip</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="tt-title-tipsContinent">
        <h2 class="tt-tipsContinent">There's no TIPS available for this category.</h2>
        </div>
    {% endif %}
    {% endblock %}